@font-face {
    font-family: "XiaoWei";
    src: url("../font/ZCOOLXiaoWei-Regular.ttf");
}

@font-face {
    font-family: "Jersey15";
    src: url("../font/Jersey15-Regular.ttf");
}

@font-face {
  font-family: "Sedan";
  src: url("../font/Sedan/Sedan-Regular.ttf");
}

/* ------------------------ header -----------------------  */

.navbar-brand {
    font-variant: small-caps;
    font-weight: bold;
    color: black;
    font-size: 130%;
  }

.nav-link {
    font-weight: 600;
    color: black;
    font-size: 100%;
}


/* -------------------------- body -----------------------  */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Sedan;
}

body > *{
    width: 100vw;
}

/* -------------------------- main -----------------------  */

main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding-right: 50px;
    padding-left: 50px;
}


/* -------------------------- footer -----------------------  */

footer {
    flex-shrink: 0;
    margin-top: 50px;
    background-color: #EcE6E6;
    color: black;
    width: 100%;
}


.container_footer {
    text-align: center;
    padding: 20px;
}


/* -------------------------- section -----------------------  */

.container_section {
    display: flex;
    margin-top: 60px;
}

.section-title {
    width: 400px;
}

.section-content {
    flex: 1;
}

/* -------------------------- head -----------------------  */


H1 { 
    font-variant: small-caps;
    font-size: 280%; 
    margin-bottom: 1.5ex; 
    margin-top: 1.5ex; 
    padding-left: 0em;
    color: #000000; 
    text-align: center; 
}


XiaoWei {
    font-family: XiaoWei;

}

/* ------------------------ publication -----------------------------  */

.pub-title, .coauthors {
    margin: 1px;
}

.pub-info {
    display: flex;
    align-items: center;
}


.pub-links {
    margin-left: auto;
    margin-right: 0;
}

.pub-link {
    color: black;
    background-color:rgb(230, 230, 230);
    border-radius: 4px; 
    margin-left: 3px;
    padding:3px;
    font-size: 15px;
}

.pub-intro {
    margin-top: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding:12px;
}

.coauthors, .pub-info, .pub-intro {
    margin-left: 22px;
    margin-right: 18px;
}

.pub-summary {
    font-size: 20px;
}

.coauthors, .pub-info, .pub-intro {
    font-size: 17px;
}


.C { /* color for conference paper */
    color:tomato;
}

.J { /* color for journal paper */
    color:deeppink;
}

.M { /* color for manuscript */
    color:cornflowerblue;
}

.pub-item { /* space between two items */
    margin-top: 16px;
}



/* -------------------------------------------------------------------  */

.notice {
    font-size: 15px;
    color: red;
}

/* -------------------------------------------------------------------  */


