<!-- Navbars can use .navbar-toggler, .navbar-collapse, and .navbar-expand{-sm|-md|-lg|-xl|-xxl} classes to determine when their content collapses behind a button. 
In combination with other utilities, you can easily choose when to show or hide particular elements. 
  For navbars that never collapse, add the .navbar-expand class on the navbar. 
  For navbars that always collapse, don’t add any .navbar-expand class. -->
    <nav class="navbar fixed-top navbar-expand-sm navbar-light" style="background-color: #EcE6E6;">
      <div class="container-fluid">
        <a class="navbar-brand" href="./" target="_self">Xiongxin Yang</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="../" target="_self">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=../publication/ target="_self">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=../people/ target="_self">People</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href=../Hobbies/ target="_self">Hobbies</a>
              </li> -->
          </ul>
        </div>
      </div>
    </nav>